body {
    background-image: url('../images/background.png');
    margin: 0;

}


#divBanner{
    text-align: center;
    background-image: url('../images/bannerbg.png');
    background-repeat: repeat-x;
   
}

#lefSideMenu{
    border-top-left-radius: 25px;
    font-size: 5em;
    color: red;
    background-image: url('../images/rbg.png');
    background-repeat: repeat-x;
    height: 83px;
    overflow: hidden;
}

#mainDiv{
    border-radius:25px;
    border-style: solid;
    border-color: gray;
    background-color:lightgreen;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 97% 3%;
    width: 55%;
}



div#rightSideDiv{
    overflow: hidden;
     
}

#reviews >div{
    padding: 5px;
}


p.review{
    font-style: oblique;
    font-weight: bold;
    border-radius: 15px;
    border-style: solid;
    border-color: gray;
    background-color: rgb(245, 222, 202);
    padding: 5px;
}

#reviews{
    background-image: url('../images/background.png');
    display: grid;
    grid-template-columns: 50% 50%;
}

#reviews >div{
    padding: 5px;
}

p.author >img{
    vertical-align: middle;

}

#main >div#bottom{
    text-align: center;
}

#top{
    display:grid;
    grid-template-columns: 66.5% 33.5%;
}