<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:task="http://www.springframework.org/schema/task"
   xmlns:aop="http://www.springframework.org/schema/aop"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/aop 
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
   http://www.springframework.org/schema/task 
   http://www.springframework.org/schema/task/spring-task-4.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <aop:aspectj-autoproxy/>
   <context:annotation-config/>
   
   <!-- Timer configuration -->
   <task:annotation-driven executor="myExecutor" />
   <task:executor id="myExecutor" pool-size="5" />
   
   <!-- imports -->
   <import resource="springdaoconfig.xml"/>
   <import resource="springjmsconfig.xml"/>
   
   <!-- bean definitions go here -->
   <bean id="accountService" class="cs544.exercise13_2.bank.service.AccountService" />
   <bean id="currencyConverter" class="cs544.exercise13_2.bank.service.CurrencyConverter" />
   <bean id="logger" class="cs544.exercise13_2.bank.logging.Logger" />
   
   <!-- advices -->
   <bean id="daoLoggerAdvice" class="cs544.exercise13_2.bank.advices.DaoLoggerAdvice"/> 
   <bean id="timerAdvice" class="cs544.exercise13_2.bank.advices.TimerAdvice"/> 
   <bean id="jmsLoggerAdvice" class="cs544.exercise13_2.bank.advices.JMSLoggerAdvice"/> 
   
</beans>