body {
    background-color: lightyellow;
  }


h3{ 
    color:lightskyblue;
    font-family: 'Courier New', Courier, monospace;
    font-style: initial;
}
a{ 
    color:royalblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}

.column {
    float: left;
    width: 20%;
  }
  
/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}
